@font-face {
  font-family: 'SFMono';
  src:
    url('/fonts/SFMono/SFMono-BoldItalic.woff2') format('woff2'),
    url('/fonts/SFMono/SFMono-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SFMono';
  src:
    url('/fonts/SFMono/SFMono-Heavy.woff2') format('woff2'),
    url('/fonts/SFMono/SFMono-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFMono';
  src:
    url('/fonts/SFMono/SFMono-Bold.woff2') format('woff2'),
    url('/fonts/SFMono/SFMono-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFMono';
  src:
    url('/fonts/SFMono/SFMono-MediumItalic.woff2') format('woff2'),
    url('/fonts/SFMono/SFMono-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SFMono';
  src:
    url('/fonts/SFMono/SFMono-Medium.woff2') format('woff2'),
    url('/fonts/SFMono/SFMono-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFMono';
  src:
    url('/fonts/SFMono/SFMono-Light.woff2') format('woff2'),
    url('/fonts/SFMono/SFMono-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFMono';
  src:
    url('/fonts/SFMono/SFMono-Regular.woff2') format('woff2'),
    url('/fonts/SFMono/SFMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFMono';
  src:
    url('/fonts/SFMono/SFMono-LightItalic.woff2') format('woff2'),
    url('/fonts/SFMono/SFMono-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SFMono';
  src:
    url('/fonts/SFMono/SFMono-HeavyItalic.woff2') format('woff2'),
    url('/fonts/SFMono/SFMono-HeavyItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SFMono';
  src:
    url('/fonts/SFMono/SFMono-RegularItalic.woff2') format('woff2'),
    url('/fonts/SFMono/SFMono-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SFMono';
  src:
    url('/fonts/SFMono/SFMono-SemiboldItalic.woff2') format('woff2'),
    url('/fonts/SFMono/SFMono-SemiboldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SFMono';
  src:
    url('/fonts/SFMono/SFMono-Semibold.woff2') format('woff2'),
    url('/fonts/SFMono/SFMono-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
